body {
    background-color: #fffff4;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    font-family: lato, serif;
}

.logo {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 200px;
}

.basket img {
    float: left;
    width: 35px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: -60px;
}

.basket {
    position: fixed;
    right: 0;
    top: 0;
    width: 240px;
    height: 75px;
    background-color: black;
    color: #fffff4;
}

.basket span {
    position: relative;
    width: 150px;
    top: 30px;
    margin-right: 10px;
}

.navbarStripe {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fffff4;
    margin-left: 0;
    height: 75px;
    z-index: -5;
}

.navigation {
    position: fixed;
    margin-right: auto;
    width: 80%;
    margin-left: 150px;
}

.navigationField {
    text-decoration: none;
    color: black;
    padding: 75px;
    line-height: 80px;
}

.navigationField:hover {
    cursor: pointer;
}

nav {
    position: fixed;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.crimeOutline {
    width: 650px;
    z-index: -3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: -100px;
    left: -250px;
    visibility: hidden;
}

.sidebar {
    position: fixed;
    float: left;
    margin-top: 110px;
    width: 250px;
}

.sidebar p {
    margin: 9px 9px 9px 0px;
    z-index: 25;
}

main {
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.sidebarCategory {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    margin-top: 4px;
    z-index: 30;
    width: 100%;
    left: 0;
    position: relative;
}

.sidebarCategory p {
    left: 75px;
    position: relative;
}

.sidebarCategory:hover {
    cursor: pointer;
    background-color: black;
    color: #fffff4;
}

.box {
    width: 300px;
    text-align: left;
    font-size: 20px;
    display: inline-block;
    margin: 15px;

}

.box a {
    text-decoration: none;
    color: black;
}

.box img {
    width: 100%;
}

section {
    width: 1000px;
    margin-left: 250px;
    text-align: center;
    margin-right: auto;
    display: inline-block;
    float: left;
    margin-top: 95px;
}

.box .filterCategory {
    display: none;
}

.boxCategory {
    font-size: 15px;
}

.box:hover {
    cursor: pointer;
}

.viewed {
    z-index: 10;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
}

.gallery {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.boxPic {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: fixed;
    top: 70px;
    display: none;
}

.modalBackground {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modalBackground:hover, .gallery:hover, .modalTip:hover{
	cursor: pointer;
}

.modalTip {
    position: fixed;
    bottom: 30px;
    display: none;
    font-size: 19px;
    z-index: 13;
    background-color: black;
    color: #fffff4;
    height: 40px;
    width: 300px;
}

.modalTip p {
    line-height: 30px;
    left: 75px;
    position: relative;
    bottom: 15px;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@-moz-keyframes fadeout {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.01;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes delete {
    0% {
        margin-left: 0px;
    }
    100% {
       margin-left: -500px;
    }
}

@-moz-keyframes delete {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -500px;
    }
}

@-webkit-keyframes delete {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -500px;
    }
}

.delete {
    -webkit-animation: fadeout 1ms;
    -moz-animation: fadeout 1ms;
    -o-animation: fadeout 1ms;
    animation: delete 1ms;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;

}

.fadeOut {
    -webkit-animation: fadeout 2s;
    -moz-animation: fadeout 2s;
    -o-animation: fadeout 2s;
    animation: fadeout 2s;
    animation-fill-mode: forwards;
}

.animationBackground {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 20;
    text-align: center;
}

.nemekAnimation img {
    margin-top: 150px;
    position: fixed;
    width: 400px;
    margin-left: -200px;
}

.animationBackground:hover {
    cursor: pointer;
}