body {
    background-color: #fffff4;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    font-family: lato, serif;
    margin-bottom: -1200px;
}

.logo {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 200px;
}

.basket {
    position: fixed;
    right: 0;
    top: 0;
    width: 240px;
    height: 75px;
    background-color: black;
    color: #fffff4;
    z-index: 8;
}

.basket img {
    float: left;
    width: 35px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: -60px;
}

.basket p {
    position: relative;
    width: 150px;
    margin-left: 10px;
}

.basket span {
    position: relative;
    width: 150px;
    top: 30px;
    margin-right: 10px;
}

nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navigation {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    z-index: 7;
}

.navigationField {
    text-decoration: none;
    color: black;
    padding: 31px 75px;
    line-height: 80px;
}

.navigationField:hover {
    cursor: pointer;
}

.navbarStripe {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fffff4;
    margin-left: 0;
    height: 75px;
    z-index: 5;
}

.containerPic {
    display: none;
}

.container {
    text-align: left;
    width: 50%;
    margin-top: 0;
    position: relative;
    top: 0;
    float: left;
    height: 400px;
}

.choosen {
    background-color: black;
    position: relative;
    top: -4px;
    color: #fffff4;
}

.buttonLeft p {
    font-size: 20px;
    position: relative;
    top: 8px;
}

.buttonRight p {
    font-size: 20px;
    position: relative;
    top: 8px;
}

.buttonLeft {
    font-weight: normal;
    color: #fffff4;
    background-color: black;
    position: relative;
    text-align: center;
    top: -60px;
    width: 120px;
    height: 40px;
}

.buttonRight {
    font-weight: normal;
    background-color: #fffff4;
    position: relative;
    text-align: center;
    top: -160px;
    width: 120px;
    height: 40px;
}

.buttonLeft:hover, .buttonRight:hover {
    cursor: pointer;
}

.containerDescription {
    position: relative;
    width: 320px;
    height: 320px;
    padding: 15px;
    color: #fffff4;
    z-index: 10;
    margin: 60px auto -1px;
}

.containerRead h2 {
    text-align: center;
    margin-bottom: -5px;
}

.containerRead {
    width: 73%;
    margin: 53px auto -15px;
    text-align: justify;

}

.containerRead p {
    font-size: 18px;
}

.available {
    background-color: #fffff4;
    width: 50px;
    color: black;
    text-align: center;
}

.buyBtn {
    background-color: #fffff4;
    color: black;
    float: right;
    margin-right: 15px;
    padding: 7px 15px;
    margin-top: -15px;
}

.buyBtn:hover {
    cursor: pointer;
    font-weight: bold;
}

.caption {
    font-size: 24px;
    cursor: default;
    margin-bottom: -5px;
}

.containerDescription h2 {
    font-size: 22px;
}

.row span {
    display: inline;
    padding: 8px;
    border: 0.5px solid #fffff4;
}

.row {
    margin-left: -6px;
}

.row2 div {
    display: inline-block;
}

.size:hover {
    cursor: pointer;
}

.active {
    background-color: #fffff4;
    border-color: #fffff4;
    color: black;
}

.outline_caption {
    width: 600px;
    z-index: -3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 300px;
    left: -279px;
}

.sidebar {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    width: 300px;
}

.sidebar a {
    margin: 9px;
}

section {
    width: 900px;
    height: 450px;
    background-color: black;
    -webkit-box-shadow: 0 38px 58px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0 38px 58px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0 38px 58px 3px rgba(0, 0, 0, 0.72);
    float: left;
    margin: 65px auto -400px 300px;
}

main {
    position: relative;
    top: 60px;
}

.cat {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    margin-top: 4px;
}

.tile {
    width: 200px;
}


.btns div {
    display: inline;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    color: #fffff4;
    text-align: center;
}

.btns {
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    cursor: pointer;
    font-weight: bold;
}

